.wrapper {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	&:hover {
		cursor: pointer;
	}
	&.highlighted {
		.animator {
			transform: scale(1.1);
		}
	}
	&.popped {
		.animator {
			pointer-events: none;
			animation: pop .8s cubic-bezier(0.165, 0.84, 0.44, 1) both;
		}
	}
	&.drop {
		animation: drop .8s both;
	}
}
	.animator {
		display: flex;
		height: 80%;
		width: 80%;
		border-radius: 10%;
		justify-content: center;
		align-items: center;
		transform: scale(1);
		transition: transform .3s;
	}

@keyframes pop {
	0% {
		transform: scale(1.1);
		opacity: 1;
	}
	25% {
		transform: scale(1);
		opacity: 1;

	}
	100% {
		transform: scale(2);
		opacity: 0;
		filter: blur(10px);
	}
}

@keyframes drop {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(100%);
	}
}