.wrapper {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	&:hover {
		cursor: pointer;
	}
	&.highlighted {
		background-color: #ddd;
		.animator {
			transform: scale(1.1);
		}
	}
}
	.animator {
		display: flex;
		height: 80%;
		width: 80%;
		border-radius: 10%;
		justify-content: center;
		align-items: center;
		transform: scale(1);
		transition: transform .3s;
	}