html, body, :global(#pook-app) {
	height: 100%;
	overflow: hidden;
}

:global(#pook-app){
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

@media(max-width: 768px){
	:global(#pook-app){
		justify-content: flex-end;
		padding-bottom: 15vw;
	}
}